<footer>

    <p>Not afilliated with Mojang Studios, Microsoft or Minecraft.</p>

    <p>
        Letter Model by <a href="https://www.mineimatorforums.com/index.php?/topic/76334-yms-minecraft-letters-model/">Yanuar Mohendra</a>.
        Made possible using <a href="threejs.org/">three.js</a>.
    </p>

    <p>Open source on <a href="https://gitlab.com/sorrowfall/minelogo">Gitlab</a>.</p>

</footer>

<style>

footer {
    border-top: solid 8px #1e1e1e;
    width: 100%;
    padding: 32px 0;
    color: white;
    background: #333;
}

</style>