<text>
    <p>Model Text</p>
    <input class="text" type="text" placeholder="Minecraft">
    <break></break>
    <div class="textureSelect">

        <p>Model Texture</p>

        <label class="textureColor" title="Texture Color">
            <img src="select_color.png">
            <input type='color'>
        </label>

        <select class="texture">
            <option value="classic">Classic</option>
        </select>

        <!-- <label class="customTexture" title="Upload Texture">
            <img src="upload_texture.png">
            <input type='button'>
        </label> -->

    </div>
</text>