<row>

    <p>Model Type</p>
    <p>Model Text</p>
    <p>Model Texture</p>

    <div class="rowSettings">

        <select class="model">
            <option value="title">Title</option>
        </select>

    </div>

    <div class="rowSegments">
        
        <segment>

            <input class="text" type="text" placeholder="Minecraft">
            <div class="textureSelect">

                <label class="textureColor" title="Texture Color">
                    <img src="select_color.png">
                    <input type='color'>
                </label>

                <select class="texture">
                    <option value="classic">Classic</option>
                </select>

                <!-- <label class="customTexture" title="Upload Texture">
                    <img src="upload_texture.png">
                    <input type='button'>
                </label> -->

            </div>

        </segment>

        <div style="
            width: min-content;
            background: green;
            border: inset 4px #005200;
            border-top: inset 4px #00e200;
            border-left: inset 4px #00e200;
        ">
            <img src="zoom_in.png" draggable="false" style="height: 32px">
        </div>

    </div>

</row>

<div style="
line-height: 0;
width: 50%;
background: green;
padding: 32px;
margin: 32px auto;
border: inset 4px #005200;
border-top: inset 4px #00e200;
border-left: inset 4px #00e200;
">
    <img src="zoom_in.png" draggable="false" style="height: 32px">
</div>