@font-face {
    font-family: "Minecraftia";
    src: url("fonts/minecraftia.otf") format("opentype");
}

@font-face {
    font-family: "Minecraftia Bold";
    src: url("assetsfonts/minecraftia-bold.otf") format("opentype")
}

body, input, select, button, code {
    font-family: "Minecraftia", Fallback, sans-serif;
}

bold {
    font-family: "Minecraftia Bold", Fallback, sans-serif;
}

body {
    background: #333;
    margin: 0;
}

img {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

/* container */

container {
    background: #555;
    display: block;
    text-align: center;
    margin: 0 auto;

    width: 66%;
    border: solid 8px #1e1e1e;
    border-style: none solid;
}

/* height > width */
@media screen and (min-height: 100vw) { 
    container {
        width: 100%;
        border: none;
    }
}

/* text row ui */

input[type='text'] {
    height: 32px;
    padding: 0;
    padding-left: 4px;
    border: inset 4px #8b8b8b;
    border-top: inset 4px #373737;
    border-left: inset 4px #373737;
    background-color: #555555;
}

select {
    padding: 6.5px 0;
    border: inset 4px #373737;
    border-top: inset 4px #ffffff;
    border-left: inset 4px #ffffff;
    background-color: #8b8b8b;
}

break {
    flex-basis: 100%;
    height: 0;
}

/* row */
row {
    padding: 16px;
    width: 100%;
    text-align: left;

    display: grid;
    gap: 32px;

    grid-template-areas:
        ". . ."
        "s S S";
}

.rowSettings > * {
    grid-area: s;
    width: 100%;

    line-height: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-count: 1;
}

.rowSegments {
    grid-area: S;
}

segment {
    display: grid;
    /*gap: 32px;*/

    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}

segment .text {
    margin-right: 32px;
}

segment .textureSelect {
    line-height: 0;
    display: inline-block;
}

segment .textureSelect label {
    height: 40px;
}

segment .textureSelect select {
    width: 80%;
}

/* row .model {
    width: 100%;
}

row .text {
    width: 100%;
}

row .textureSelect {
    display: inline-block;
}

row .customTexture {
    float: left;
    margin-right: 8px;
}

row .texture {
    width: max-content;
    overflow: hidden;
}

row .textureColor {
    float: right;
    margin-left: 8px;
} */

/* footer */